@mixin transition($time, $option)
    -webkit-transition: $time ease-in-out $option
    -moz-transition: $time ease-in-out $option
    -ms-transition: $time ease-in-out $option
    -o-transition: $time ease-in-out $option
    transition: $time ease-in-out $option