[class^="so-"]:before, [class*=" so-"]:before
  font-family: "SO"
  font-style: normal
  font-weight: normal
  speak: none
  display: inline-block
  text-decoration: inherit
  //width: 1em
  margin-right: .2em
  text-align: center

  /* opacity: .8;

  /* For safety - reset parent styles, that can break glyph codes
  font-variant: normal
  text-transform: none

  /* fix buttons height, for twitter bootstrap
  line-height: 1em

  /* Animation center compensation - margins should be symmetric
  /* remove if not needed
  margin-left: .2em

  /* you can be more comfortable with increased icons size
  /* font-size: 120%;

  /* Font smoothing. That was taken from TWBS
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

/* Uncomment for 3D effect
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);

.so-bag:before
  content: '\e801'

.so-big-search:before
  content: '\e802'

.so-close:before
  content: '\e803'

.so-career-guide:before
  content: '\e804'

.so-checked:before
  content: '\e805'

.so-clock:before
  content: '\e806'

.so-document:before
  content: '\e807'

.so-document-edit:before
  content: '\e808'

.so-facebook:before
  content: '\e809'

.so-instagram:before
  content: '\e80a'

.so-linkedin:before
  content: '\e80b'

.so-search:before
  content: '\e80e'

.so-settings:before
  content: '\e80f'

.so-unical:before
  content: '\e810'

.so-card:before
  content: '\e811'

.so-plate:before
  content: '\e813'

.so-bullet-list:before
  content: '\e815'

.so-select-arrow:before
  content: '\e816'

.so-sign-in:before
  content: '\e812'

.so-plus:before
  content: '\e800'

.so-check:before
  content: '\e80d'

.so-favorite:before
  content: '\e814'

.so-share:before
  content: '\e80c'

.so-delete:before
  content: '\e81a'

.so-edit:before
  content: '\e81b'

.so-unview:before
  content: '\e811'

.so-edit-profile:before
  content: '\e815'

.so-options:before
  content: '\e817'

.so-reload:before
  content: '\e818'

.so-attach:before
  content: '\e819'

.so-delete:before
  content: '\e81a'

.so-document-bold:before
  content: '\e81c'

.so-exit:before
  content: '\e81d'

.so-checked-bold:before
  content: '\e81e'

.so-settings-bold:before
  content: '\e81f'

.so-target:before
  content: '\e820'

.so-user:before
  content: '\e821'

.so-chat:before
  content: '\e813'

.so-view-bold:before
  content: '\e822'

.so-question:before
  content: '\e823'

.so-delete-bold:before
  content: '\e824'

.so-upload:before
  content: '\e825'

.so-arrow-left:before
  content: '\e826'