@import vars
@import fonts
@import libs
@import _mixins/custom

/*======== Typography ========*/
*
  box-sizing: border-box
  margin: 0
  padding: 0
  outline: none

::selection
  color: $white
  background-color: $main

html, body
  font-family: $R
  font-size: 10px
  font-weight: 400
  font-style: normal
  position: relative
  scroll-behavior: smooth

main
  overflow-x: hidden

ul, li
  display: block
  list-style: none
  margin: 0
  padding: 0

h1, h2, h3, h4, h5, h6, p, address, span, label, input, button, table, caption
  margin: 0
  padding: 0

h1, h2, h3, h4, h5
  font-family: $R
  font-weight: 400
  font-style: normal
  color: $light-black

p
  font: 1.8rem/1.44em $M
  color: $light-black
a
  @include transition(.2s, all)
  &:hover
    color: $main
    text-decoration: none

input, button, textarea
  border: none
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  &:focus
    outline: none
label
  display: block
select
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  &.error
    ~ span
      border-color: rgba(208, 0, 0, .3)!important
    &:invalid
      border-color: rgba(208, 0, 0, .3)!important
  &:valid:required
    ~ span
      border-color: rgba($main, .3)!important
textarea
  resize: none
/*======== /.Typography ========*/

/*======== Custom ========*/
/*======== /.Custom ========*/

/*======== Preloader ========*/
.preloader
  &__screen
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100vh
    background-color: #606e76
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    z-index: 9999
  &__logo
    width: 180px
  &__bar
    width: 100%
    height: 2px
    background: #cfcfcf
    margin-top: 22px
    border-radius: 5px
    position: relative
    overflow: hidden

    &::before
      content: ''
      width: 68px
      height: 2px
      background: $main
      position: absolute
      left: -35px
      animation: line 1.5s infinite ease

@keyframes line
  50%
    left: 150px
/*======== /.Preloader ========*/

/*======== Sliders ========*/
/*======== /.Sliders ========*/

/*======== Modals ========*/
/*======== /.Modals ========*/



@import media
